* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #10002b;
    color: #ede7f6;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(16, 0, 43, 0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: right;
    padding: 1rem 2rem;
}

.logo-text {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: auto;


}

.logo-text p {
    display: inline;
}

.jas {
    color: #cf32cf;
    text-shadow: 0 0 15px rgba(125, 0, 112, 0.7);
}

.mine {
    color: #ede7f6;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

nav ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #ede7f6;
    font-weight: 400;
    padding: 4px 0;
    transition: all;
    transition-duration: 300ms;
}

nav ul li a:hover {
    color: #cf32cf;
    border-bottom: 1px solid #cf32cf;
    text-shadow: 0 0 15px rgba(125, 0, 112, 0.7);
}

section {
    min-height: 100vh;
    padding: 100px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background: #10002b;
    padding: 30px 20px;
    text-align: center;
}